@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap')

@import 'variables.scss'
@import 'node_modules/bootstrap/scss/bootstrap.scss'
@import 'node_modules/bootstrap-vue/src/index.scss'

@import "components/custom-radio"

legend
	padding-bottom: 4px !important
	font-size: 15px !important

.bg-accent-50
	background: rgba($accent, .05)

.tooltip
	font-size: 13px

.font-weight-medium
	font-weight: 500